.edit-container {
    max-width: 500px;
    margin-left: 30px;
}

.avatar {
    display: inline-block;
    vertical-align: top;
    float: right;
}

.edit-form {
    display: inline-block;
    min-width: 315px;
}

.edit-form-button {
    width: 100%;
}

.edit-form-button[disabled], .edit-form-button[disabled]:hover, .edit-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}

.edit-form input {
    margin-bottom: 3px;
}

.upload-button {
    margin: 10px 10px;
}